@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;

  &::-webkit-scrollbar{
    width: 1rem;
  }

  &::-webkit-scrollbar-track{
    background: transparent;
  }

  &::-webkit-scrollbar-thumb{
    background: $green;
  }
}

body{
  padding-left: 30rem;
}

section{
  padding:3rem 5%;

  &:nth-child(even){
    background: $light-bg;
  }
}

.heading{
  text-align: center;
  margin-bottom: 3rem;

  span{
    font-size: 2rem;
    color:black;
    text-transform: uppercase;
  }

  h3{
    padding-top: 1rem;
    font-size: 3rem;
    color:black;
    text-transform: uppercase;
  }
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  padding:1.2rem 3rem;
  cursor: pointer;
  color:$white;
  background: $black;
  font-size: 1.7rem;

  &:hover{
    background: $green;
  }
}

.header{
  position: fixed;
  top:0; left:0;
  z-index: 1000;
  background: $green;
  width: 30rem;
  height: 100%;
  padding:3rem;

  .logo{
    font-size: 2.5rem;
    color:$white;

    i{
      color:$yellow;
    }
  }

  .navbar{
    padding:20% 0;

    a{
      display: block;
      font-size: 2rem;
      margin:1.7rem 0;
      color:$white;

      i{
        color:$yellow;
        padding-right: .5rem;
      }

      &:hover{
        color:$yellow;
        
        i{
          padding-right: 2rem;
        }
      }
    }
  }
}

#menu-btn{
  position: fixed;
  top:1rem; right:2rem;
  height: 5rem;;
  width: 5rem;
  line-height: 5rem;
  font-size: 2.5rem;
  background: $green;
  color:$white;
  cursor: pointer;
  text-align: center;
  z-index: 10000;
  display: none;

  &.fa-times{
    background: $white;
    color:$black;
  }
}

.home{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:2rem;

  .image{
    flex:1 1 40rem;

    img{
      width: 100%;
    }
  }
}